/* Reset */

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 16px/1.2 Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  text-align: center;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #007998;
}


a:visited {
  color: #007998;
}

table {
  font-size: inherit;
  font: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.hr {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 50px auto;
  max-width: 720px;
}
.underline {
  border-bottom: 1px solid #ccc;
}
.tl {
  text-align: left;
}
h1{
  font-size: 2.3em;
}
h2{
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}

/******************************************/
/*    SideBar Style    */
/******************************************/
.l-side {
  position: fixed;
  width: 20%;
  top: 0;
  left: 0;
  right: 70%;
  bottom: 0;
  background: #435a6b;
  border-right: 1px solid #304759;
}

.l-nav {
  margin-top: 40px;
}

.l-nav li{
  font-size: 1.2em;
  line-height: 2.4;
}

.l-nav li a{
  color: #fff;
  text-decoration: none;
}

.l-nav li a:hover {
  font-weight: bold;
}

.l-nav-active {
  font-weight: bold;
}

.banner{
  position: absolute;
  width: 90%;
  height: auto;
  left: 0;
  right: auto;
  bottom: 10px;
  padding: 50px 5%;
  word-wrap: break-word;
}
.banner .site-name {
  font-weight: bold;
}
.banner .links li {
  display: inline;
  font-style: italic;
}
.banner .links li:after {
  content: " .";
}
.banner .links a {
  color: #ccc;
  text-decoration: none;  
}
.banner .links a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .l-side {
    width: 100%;
    display: none; 
  }
  .l-nav {
    padding-top: 1em;
  }
  .l-nav li {
    font-size: 1em;
  }
}

/******************************************/
/*    Content Style    */
/******************************************/
.l-content {
  margin-left: 20%;
  margin-right: 0;
  width: auto;
}
.l-content .inner {
  padding: 30px 10%;
}

@media (max-width: 767px) {
  .l-content {
    margin: 0;
  }
}

/**Post**/
article header a {
  text-decoration: none;
}
article header h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  word-wrap: break-word;
}

article header h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  word-wrap: break-word;
  color: #007998;
}

article header .post-date {
  display: inline-block;
  color: #ccc;
  padding-bottom: 10px;
}

article .body{
  margin-top: 40px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: normal;
  word-wrap: break-word;
  word-break: break-word;
  text-align: justify;
}
article .body > * {
  margin-bottom: 24px;
}
article .body a {
  text-decoration: none;
  color: #3b80b1;
  font-style: italic;
  padding-bottom: 4px;
}
article .body a:hover {
  text-decoration: underline;
}
article .body blockquote {
  background: #e7e7e7; 
  margin: 20px 0 !important;
  padding: 10px 16px;
}
article .body img {
  display: block;
  margin: 0 auto 8px;
  width: 100%;
  height: auto;
  max-width: 100% !important;
}
article .body ul { 
  padding-left: 20px;
}

article .body ul li {
  list-style-type: disc;
}
article .body ul ul li {
  list-style-type: circle;
}
article .body ul ul ul li {
  list-style-type: square;
}
article .body ol li {
  list-style-type: decimal;
}
article .body iframe,
article .body embed {
  width: 100%;
  height: 500px;
  max-width: 100% !important;
  margin: 0 auto;
}
article .body p,
article .body b,
article .body i,
article .body blockquote,
article .body em,
article .body ul,
article .body li,
article .body div,
article .excerpt {
  font-family: Tahoma, Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif !important;
  font-size: 16px !important;
  line-height: 32px !important;
  color: #363636 !important;
  letter-spacing: normal !important;
}
article .body h1,
article .body h2,
article .body h3,
article .body h4,
article .body h5,
article .body h6 {
  font-family: Tahoma, Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif !important;
  display: block !important;
  background-color: transparent !important;
  border-left: 0.3em solid #0099cc !important;
  color: #363636 !important;
  padding-left: 15px !important;
  line-height: 1.5;
  font-weight: bold !important;
  text-align: left !important;
  margin-top: 28px !important;
  margin-bottom: 14px !important;
}

article .body pre {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #535F70;
  font-size: 13px;
  line-height: 2em;
}
code {
  color: #535F70;
  font-size: 13px;
}


/******************************************/
/*    List Style    */
/******************************************/

.cate-nav li {
  display: inline-block;
  padding: 10px;
  background: #99CCFF;
  margin: 5px;
  margin-left: 0;
}
.post-list h2 {
  font-size: 1.5em;
  color: #363636;
}
.post-list li {
  padding: 5px 0;
}
.post-list span {
  display: inline-block;
  color: #666;
}
.post-list a:before {
  content: "|";
  padding-left: 0.5em;
}
.post-list a {
  word-wrap: break-word;
  color: #007998;
}
@media (max-width: 767px) {
  .post-list span {
    display: block;
  }
  .post-list a:before {
    content: "";
    padding-left: 0;
  }
}

/******************************************/
/*    mobie Style    */
/******************************************/
#nav-icon {
  width: 40px;
  height: 40px;
  background-color: #435a6b;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  right: 10px;
  line-height: 40px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: none;
}
@media (max-width: 767px) {
  #nav-icon {
    display: block;
  }
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  background: #66CCCC;
  margin-left: 0;
}
.tag-posts {
  display: none;
}