<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
	<div class="l-side" id="sidebar">
		<ul class="l-nav">
			{% for nav in site.blog-nav %}
			{% if page.url == nav.url %}
			<li><a href="{{nav.url}}" class="l-nav-active">{{nav.text}}</a></li>
			{% else %}
			<li><a href="{{nav.url}}">{{nav.text}}</a></li>			
			{% endif %}
			{% endfor %}		
		</ul>
		<header class="banner">
			<p class="site-name">{{site.author}}</p>
			<ul class="links">
				{% for link in site.site-nav %}
				<li><a href="{{link.url}}">{{link.text}}</a></li>
				{% endfor %}
			</ul>
		</header>
	</div>
	<div id="nav-icon">+</div>
	<div class="l-content">
		{{content}}
	</div>

	<script>
		function navIconToggle() {
			var $nav = document.getElementById("nav-icon");
			var $sidebar = document.getElementById("sidebar");
			$sidebar.show = false;
			$nav.onclick = function(){
				if ($sidebar.show) {
					$sidebar.style.display = "none";
					$sidebar.show = false;
					$nav.innerText = "+";
				} else {
					$sidebar.style.display = "block";
					$sidebar.show = true;
					$nav.innerText = "×";
				}
			}
		}

		function setTargetBlank() {
			var $anchors = document.getElementsByTagName("a");
			var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
			var reg=new RegExp(Expression);
			for ( var i = 0, len = $anchors.length; i < len; i++ ) {
				var $anchor = $anchors[i]
				if (reg.test($anchor.href)) {
					$anchor.target = "_blank";
				}
			}
		}

		function addLoadEvent(func) {
			var oldOnLoad = window.onload;
			if (typeof oldOnLoad != "function") {
				window.onload = func;
			}
			else {
				window.onload = function() {
					oldOnLoad();
					func();
				}
			}
		}
		addLoadEvent(navIconToggle);
	</script>
	{% if page.include %}<script src="/scripts/{{page.include}}"></script>{% endif %}
</body>
</html>